<h1 class="mb-3" style="margin-left: 160px;">India Map</h1>
<div class="row text-center">
    <div class="col-3 text-danger" >

        <span>Confirmed</span>
        <h3>{{sum}}</h3>
        <span>+{{today}}</span>
    </div>
    <div class="col-3 text-primary" >

        <h6>Active</h6>
        <h3>{{suma}}</h3>
    </div>
   <div class="col-3 text-success">

        <h6>Recovered</h6>
        <h3>{{sumr}}</h3>
        <span>[+{{todayrecovered}}]</span>
    </div>
    <div class="col-3 text-muted">

        <h6>Deceased</h6>
        <h3>{{sumd}}</h3>
        <span>[+{{todaydeceased}}]</span>
    </div>
</div>
<fusioncharts  type="india" width="800" height="500" dataFormat="json" [dataSource]="dataSource" >

</fusioncharts>

<fusioncharts  type="spline" width="600" height="500" dataFormat="json" [dataSource]="dataSource1"></fusioncharts>



